/* bloc avec les paramètres de base pour le portefolio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #2b4289;
    background-color: #b7d0e4;
    line-height: 1.6;
}

/* bloc de la navigation du site */

header {
    background-color: #e0f1f4;      /* je reste dans l'idée du bleu */
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #d8d3d3;
}

nav ul {
    list-style-type: none; /* ne plus afficher les puces de la liste */
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #007acc; /* pour montrer que c'est un lien */
    font-weight: bold;
}

nav a:hover {
    color: #0056b3;
}